@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Space Mono;
}
h2 {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 120px;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.img-container {
    padding: 100px;
}

.img-container img {
    width: 500px;
}

.details {
    padding-right: 60px;
}

.details h1 {
    color: #333;
    font-size: 60px;
    font-weight: 700;
    margin: 10px 0;
}

.details p {
    color: #4F4F4F;
    font-size: 20px;
    margin: 10px 0;
}

.details button {
    background: #333;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
    margin: 30px 0;
    text-transform: uppercase;
}

/* responsive */
@media screen and (max-width:576px) {
    h2 {
        padding: 5%;
        margin: 5%;
        font-size: 1rem;
    }
    
    .container {
       flex-direction: column;
    }
    
    .img-container {
        padding: 5%;
        margin: 5%;
    }
    
    .img-container img {
        width: 100%;
    }
    
    .details {
        padding: 5%;
        margin: 5%;
    }
    
    .details h1 {
        font-size: 40px;
    }
    
    .details p {
        font-size: 15px;
    }
}